@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.bg-container {
    background-color: #fef7e7;
    height: 100vh;
    width: 100%;


}

@media screen and (min-width:576px) {
    .bg-container {
        display: flex;
        align-items: center;
        order: 1;
    }
}


.image {
    height: 250px;
    width: 250px;
    margin-left: 20px;
    margin-top: 25px;
    order: 1;
}

.head {
    color: #333333;
    font-family: Roboto;
    font-size: 30px;
    margin-left: 10px;
}

.para {
    color: #858a8f;
    font-family: Roboto;
    font-size: 20px;
    margin-left: 10px;
}

.btn {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: #f1b80b;
    color: #ffffff;
    border-color: #f1b80b;
    margin-left: 10px;
}